In [39]:
import pandas as pd
LLOYD_LSE = pd.read_csv("/Users/natehanrahan/Downloads/LLOY_and_LSE.csv")
LLOYD_LSE.columns

Index(['Date', 'LLOY_Open', 'LLOY_High', 'LLOY_Low', 'LLOY_Close',
       'LLOY_Change', 'LLOY_PERCENT', 'LSE_Price', 'LSE_Open', 'LSE_High',
       'LSE_Low', 'LSE_Change', 'LSE_Percent', 'Unnamed: 13'],
      dtype='object')

In [40]:
LLOYD_LSE.head()

,Date,LLOY_Open,LLOY_High,LLOY_Low,LLOY_Close,LLOY_Change,LLOY_PERCENT,LSE_Price,LSE_Open,LSE_High,LSE_Low,LSE_Change,LSE_Percent,Unnamed: 13
0,27-Aug-19,49.590000,51.299999,49.349998,49.759998,-0.0034,-0.3416,6840.0,6900.0,6902.0,6784.0,0.0012,0.12,NaN
1,28-Aug-19,49.855000,49.939999,49.215000,49.514999,0.0069,0.6867,6880.0,6852.0,6904.0,6804.0,0.0058,0.58,NaN
2,29-Aug-19,49.244999,50.147999,48.419998,49.805000,-0.0112,-1.1244,6970.0,6894.0,6982.0,6876.0,0.0131,1.31,NaN
3,30-Aug-19,49.994999,51.049999,49.720001,49.830002,0.0033,0.3311,6954.0,6936.0,7032.0,6932.0,-0.0023,-0.23,NaN
4,2-Sep-19,49.840000,50.770000,49.830002,50.320000,-0.0095,-0.9539,7020.0,6936.0,7040.0,6932.0,0.0095,0.95,NaN

In [41]:
y = LLOYD_LSE.LLOY_PERCENT

In [42]:
LSE_features = ['LSE_Price', 'LSE_Open', 'LSE_High',
       'LSE_Low', 'LSE_Percent']

In [43]:
X = LLOYD_LSE[LSE_features]

In [44]:
X.describe()

         LSE_Price     LSE_Open     LSE_High      LSE_Low  LSE_Percent
count   252.000000   252.000000   252.000000   252.000000   252.000000
mean   7621.063492  7621.817460  7727.832937  7502.921032     0.126548
std     634.189419   633.793699   621.642904   654.686517     2.243569
min    5806.000000  5818.000000  6016.000000  5300.000000    -9.660000
25%    7073.000000  7099.500000  7220.000000  6966.000000    -0.820000
50%    7581.000000  7570.000000  7688.000000  7478.000000     0.170000
75%    8193.000000  8192.000000  8258.500000  8052.000000     1.295000
max    8908.000000  9000.000000  9072.000000  8874.000000    10.400000

In [45]:
X.head()

   LSE_Price  LSE_Open  LSE_High  LSE_Low  LSE_Percent
0     6840.0    6900.0    6902.0   6784.0         0.12
1     6880.0    6852.0    6904.0   6804.0         0.58
2     6970.0    6894.0    6982.0   6876.0         1.31
3     6954.0    6936.0    7032.0   6932.0        -0.23
4     7020.0    6936.0    7040.0   6932.0         0.95

In [47]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

LLOYD_model = DecisionTreeRegressor()
LLOYD_model.fit(train_X, train_y)

val_predictions = LLOYD_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

2.6409301587301584

In [48]:
predicted_change = LLOYD_model.predict(X)
mean_absolute_error(y, predicted_change)

0.6602325396825397