In [77]:
#CSV currently housing daily price of Lloyd's Banking Group, London Stock Exchange (LSE),
#and the 2s10s yield curve for the corresponding days.

import pandas as pd
LLOYD_price = pd.read_csv("/Users/natehanrahan/Downloads/LLOY_and_LSE.csv")
LLOYD_price.columns

Index(['Date', 'LLOY_Open', 'LLOY_High', 'LLOY_Low', 'LLOY_Close',
       'LLOY_Change', 'LLOY_Percent', 'LSE_Price', 'LSE_Open', 'LSE_High',
       'LSE_Low', 'LSE_Change', 'LSE_Percent', '2 MYYC', '10 MYYC', '2s10s'],
      dtype='object')

In [78]:
LLOYD_price = LLOYD_price.dropna(axis=0)

In [79]:
LLOYD_price.head()

,Date,LLOY_Open,LLOY_High,LLOY_Low,LLOY_Close,LLOY_Change,LLOY_Percent,LSE_Price,LSE_Open,LSE_High,LSE_Low,LSE_Change,LSE_Percent,2 MYYC,10 MYYC,2s10s
0,27-Aug-19,49.590000,51.299999,49.349998,49.759998,-0.0034,-0.3416,6840.0,6900.0,6902.0,6784.0,0.0012,0.12,0.37,0.47,0.1052
1,28-Aug-19,49.855000,49.939999,49.215000,49.514999,0.0069,0.6867,6880.0,6852.0,6904.0,6804.0,0.0058,0.58,0.34,0.41,0.0722
2,29-Aug-19,49.244999,50.147999,48.419998,49.805000,-0.0112,-1.1244,6970.0,6894.0,6982.0,6876.0,0.0131,1.31,0.35,0.40,0.0535
3,30-Aug-19,49.994999,51.049999,49.720001,49.830002,0.0033,0.3311,6954.0,6936.0,7032.0,6932.0,-0.0023,-0.23,0.38,0.44,0.0599
4,2-Sep-19,49.840000,50.770000,49.830002,50.320000,-0.0095,-0.9539,7020.0,6936.0,7040.0,6932.0,0.0095,0.95,0.33,0.39,0.0601

In [80]:
#Aiming to accurately prdeict the percent change of the daily stock price of LLOY.L

y = LLOYD_price.LLOY_Percent

In [87]:
YC_features = ['2s10s']

In [88]:
X = LLOYD_price[YC_features]

In [89]:
X.head()

    2s10s
0  0.1052
1  0.0722
2  0.0535
3  0.0599
4  0.0601

In [90]:
#In Model Validation of the model based on Mean Absolute Error

predicted_change = LLOYD_model.predict(X)
mean_absolute_error(y, predicted_change)

0.7423755274261603

In [91]:
#Validation of prediction based on Nominal Spot Yield Curve on a given reflected by MAE.

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

LLOYD_model = DecisionTreeRegressor()
LLOYD_model.fit(train_X, train_y)

val_predictions = LLOYD_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

2.5645766666666665

In [92]:
LSE_features = ['LSE_Price', 'LSE_Open', 'LSE_High',
       'LSE_Low', 'LSE_Percent']

In [93]:
X = LLOYD_price[LSE_features]

In [94]:
X.head()

   LSE_Price  LSE_Open  LSE_High  LSE_Low  LSE_Percent
0     6840.0    6900.0    6902.0   6784.0         0.12
1     6880.0    6852.0    6904.0   6804.0         0.58
2     6970.0    6894.0    6982.0   6876.0         1.31
3     6954.0    6936.0    7032.0   6932.0        -0.23
4     7020.0    6936.0    7040.0   6932.0         0.95

In [96]:
#Validation of prediction based on LSE Performance on a given day reflected by MAE

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

LLOYD_model = DecisionTreeRegressor()
LLOYD_model.fit(train_X, train_y)

val_predictions = LLOYD_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

2.6995033333333334

In [97]:
#In Model Validation of the model based on Mean Absolute Error

predicted_change = LLOYD_model.predict(X)
mean_absolute_error(y, predicted_change)

0.6834185654008438

In [98]:
LSE_YC_features = ['LSE_Price', 'LSE_Open', 'LSE_High',
       'LSE_Low', 'LSE_Percent', '2s10s']

In [99]:
X = LLOYD_price[LSE_YC_features]

In [100]:
X.head()

   LSE_Price  LSE_Open  LSE_High  LSE_Low  LSE_Percent   2s10s
0     6840.0    6900.0    6902.0   6784.0         0.12  0.1052
1     6880.0    6852.0    6904.0   6804.0         0.58  0.0722
2     6970.0    6894.0    6982.0   6876.0         1.31  0.0535
3     6954.0    6936.0    7032.0   6932.0        -0.23  0.0599
4     7020.0    6936.0    7040.0   6932.0         0.95  0.0601

In [101]:
#Validation of prediction based on LSE Performance on a given day.

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

LLOYD_model = DecisionTreeRegressor()
LLOYD_model.fit(train_X, train_y)

val_predictions = LLOYD_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

2.6166700000000005

In [102]:
#In-model MAE 

predicted_change = LLOYD_model.predict(X)
mean_absolute_error(y, predicted_change)

0.6624481012658228